form.form-group{
	border: 1px solid #ddd;
	border-radius: 10px;
	margin: 40px auto 0;
	padding: 20px;
}

h2{
	font-weight: bold;
	margin: 40px 0 0;
	text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.wrapper-content{
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-top: 40px;
    padding: 20px;
}

.wrapper-content h4{
	color: #337ab7;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

table.dataTable{
	margin-top: 15px !important;
    margin-bottom: 15px !important;
}

table.dataTable tr.odd{
	background: #f1f1f1;
}

table.dataTable tr th,
table.dataTable tr td{
	padding: 10px;
}